[tool.poetry]
name = "mergify_cli"
version = "0.0.0"
description = "Mergify CLI is a tool that automates the creation and management of stacked pull requests on GitHub"
authors = ["Mehdi Abaakouk <sileht@mergify.com>"]
readme = "README.md"
license = "Apache License"

[tool.poetry.dependencies]
python = ">=3.10"
httpx = ">=0.20.0"
rich = ">=10.11.0"

[tool.poetry-version-plugin]
source = "git-tag"

[tool.poetry.group.dev.dependencies]
mypy = {version = ">=0.930"}
mypy-extensions = "^1.0.0"
black = "^23.7.0"
ruff = ">=0.0.277,<0.0.292"
pytest = {version = ">=6.2.5"}
poethepoet = ">=0.21,<0.24"

[tool.poetry.scripts]
mergify = 'mergify_cli:cli'

[tool.poe]
include = ["poe.toml"]

[tool.black]
target-version = ['py311']

[tool.mypy]
strict = true
warn_unreachable = true
exclude = [".venv"]
files = ["mergify_cli"]
show_error_codes = true

[tool.ruff]
line-length = 88
target-version = "py311"
select = [
 "E", "W", "F", "I", "A", "B", "Q",
 "C4", "T10", "ISC", "ICN", "BLE",
 "G", "RSE", "TID", "TRY", "PLE", "UP",
 "RUF", "RET",
 # FIXME(sileht): very interresting, but require easy manual code change
 # "DTZ", "ARG", "TCH", "COM",
 # FIXME(sileht): doctring/rst-docstring like
 # "D"
]

ignore = [
    # NOTE(sileht): line-length is up to black
    "E501",
    # NOTE(sileht): we prefer using exc_info=True
    "G201", "TRY200", "TRY400",
    # NOTE(sileht): "Unnecessary parentheses on raised exception", this breaks
    # isinstance on exception
    "RSE102",
    # NOTE(sileht): No exception with message set via __init__
    "TRY003", "TRY301",
    # NOTE(sileht): built-in shadow, interresting but to raise an error for
    # TypedDict/NamedTuple with key named like builtin, so it's useless
    "A003",
    # NOTE(sileht): This enforce usage of raise ... from ...
    "B904",
    # FIXME(sileht): Convert some exception -> TypeError
    "TRY004",
    # FIXME(sileht): very interresting, ruff BLE is far better that flake8-blind-except
    "BLE001",
    # NOTE(sileht): looks buggy
    "RET508"
]

[tool.ruff.isort]
force-single-line = true
force-sort-within-sections = true
lines-after-imports = 2
known-first-party = ["mergify_cli"]

[tool.ruff.flake8-tidy-imports]
ban-relative-imports = "all"
