name: upload release to PyPI
on:
  release:
    types:
      - published

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.14

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version-file: requirements-uv.txt

      - name: 
        run: uv build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
